/*GLOBAL*/


:root {
  --bg-body: #151515;
  --bg-contact: #242424; 
  --accent: #4ee1A0;
  --text2: #8d8b8d;
  --text1: #ffffff;
  --invalid: #ff6f5b;
  --fs18: 1.125rem;
  --fs88:  5.5rem;
  --fs72: 4.5rem;
  --fs40: 2.5rem;
  --fs48: 3rem;
  --fs32: 2rem;
  --fs24: 1.5rem; 
  --container: 69.375rem;
  --transition: 300ms ease-in-out;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--bg-body);
  color: var(--text1);
  font-size: var(--fs18);
  line-height: 1.56;
  padding-bottom: 25rem;
}

a {
   transition: color var(--transition);
}

a:hover {
  color: var(--accent);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.header__social {
  /*display: inline-block;*/
  text-decoration: none;
  color: #D9D9D9; 
}

.wrapper {
  width: calc(100% - 2rem); /*for mobile*/
  max-width: var(--container);
  margin-inline: auto;
}
@media (min-width: 37.5em) { /*600px* Tablet styles kick in from mobile*/
  .wrapper {
    width: calc(100% - 3.75rem);             
  }  
}


/*UTILITY*/
.bottom-border{
  border-bottom: 1px solid var(--text2);
}


/*HEADER*/-----
.header{
  position: relative;
  z-index: 1;
  margin-block-start: 20px;

}
  
/*display:flex;
  flex-wrap: wrap;
justify-content: center;
text-align: center;
gap: 20px 25px; /*row, col gaps*FIX NOT WORKING*/

.header__nav{
 display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 1.25rem 1.6rem; /*converted from 20px, 25px*/
}

.header__home {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  line-height: 1;
  color: var(--text1);
  text-decoration: none;
  flex: 1 0 100%;
}


/*.header__home{--my input
  font-size: clamp(1.5rem, 1.02rem + 2.4vw, 2.5rem); /*Fluid Typography calculator
  color: var(--text1); 
  flex: 1 0 100%;
}*/


/*.header__social { ----LOOK gap replacement code
  margin-right: 1.25rem;
}*/

@media (min-width: 37.5em) { /* 600px FOR TABLET*/
  .header {
    margin-block-start: 30px;
    /* margin-block-end: 90px; */
  }
  

/*@media (min-width: 37.5em){
.header__nav {
  justify-content: flex-start;
  text-align: left;
}*/

  .header__nav { 
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 32px;
  }
  
  .header__home {
    flex: 0 1 auto;
    margin-inline-end: auto;
  }
}

@media (min-width: 62.5em) { /*1000px Desktop*/
  .header {
    margin-block-start: 40px;
    margin-block-end: 127px;
  }


  .header__nav {
    padding-right: 30px;
  }
}







